html {
    font-family: sans-serif;
}

.collection {
    width: 19%;
    float: left;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 11px;
}
.playlist {
    float: left;
    width: 80%;
    height: 100%;
    overflow: auto;
}

.collection ul {
    list-style: none;
    padding: 0;
}
.collection li {
    padding-left: 12px;
    background: url(/static/assets/icons/arrow-down.png) 0 2px no-repeat;
    min-height: 16px;
}
.collection li.collapsed {
    background-image: url(/static/assets/icons/arrow-right.png);
}

.collection > ul {
    width: 98%;
}

/* album box */
.collection ul ul {
    padding: 0;
}
.collection ul ul li {
    white-space: nowrap;
    border-left: 0;
    background-position: 0 20px;
}
.collection ul ul li:last-child {
    margin-bottom: 0;
}

/* tracklist box */
.collection ul ul ul {
}
.collection ul ul ul li {
    background-image: none !important;
    padding-left: 0;
    margin-bottom: 0;
}

.collection .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-transition: background-color 0.25s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}

.collection .title:hover {
    background-color: #eee;
    cursor: default;
}

.collection .album-title {
    /* this holds the album art as a bg image */
    background-repeat: no-repeat;
    background-position: 5px center;
    min-height: 50px;
    padding-left: 55px;
}

.collection .album-title span {
    line-height: 48px;
    vertical-align: middle;
    font-weight: bold;
}

.collection .song-title {
    padding-left: 5px;
}

.collection .collapsed ul {
    display: none;
}






.app-container { 
}
.app-container::after {
    content: "";
    display: block;
    clear: both;
}


.playlist .grid {
    width: 100%;
    border-spacing: 0;
    cursor: default;
}

.playlist .selected {
    background-color: #BFD9FF;
}
.playlist .current {
    background-color: #80B3FF;
}

.playlist {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
    


