html {
    font-family: sans-serif;
    font-size: 12px;
}

.collection {
    width: 19%;
    float: left;
    height: 100%;
    margin-right: 1%;
}
.playlist {
    float: left;
    width: 80%;
    height: 100%;
}


.collection input {
    max-width: 90%;
}
.collection .tree-container {
    overflow-y: auto;
    overflow-x: hidden;
}

.collection ul {
    list-style: none;
    padding: 0;
}
.collection .special {
    margin-bottom: 1em;
    border-bottom: 1px solid #bbb;
}
.collection .special li {
    background-image: none!important;
    cursor: default;
}

.collection li {
    padding-left: 12px;
    background: url(/static/assets/icons/arrow-down.png) 0 2px no-repeat;
    min-height: 16px;
}
.collection li.collapsed {
    background-image: url(/static/assets/icons/arrow-right.png);
}

.collection .tree-container > ul {
    width: 98%;
    padding: 0;
    margin: 0;
}

/* album box */
.collection ul ul {
    padding: 0;
}
.collection ul ul li {
    white-space: nowrap;
    border-left: 0;
    background-position: 0 20px;
}
.collection ul ul li:last-child {
    margin-bottom: 0;
}

/* tracklist box */
.collection ul ul ul {
}
.collection ul ul ul li {
    background-image: none !important;
    padding-left: 0;
    margin-bottom: 0;
}

.collection .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-transition: background-color 0.25s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}

.collection .title:hover {
    background-color: #eee;
    cursor: default;
}

.collection .album-title {
    /* this holds the album art as a bg image */
    background-repeat: no-repeat;
    background-position: 5px center;
    min-height: 42px;
    padding-left: 47px;
}

.collection .album-title span {
    line-height: 48px;
    vertical-align: middle;
    font-weight: bold;
}

.collection .song-title {
    padding-left: 5px;
}

.collection .collapsed ul {
    display: none;
}






.app-container { 
}
.app-container::after {
    content: "";
    display: block;
    clear: both;
}


.playlist .grid {
    width: 100%;
    border-spacing: 0;
    cursor: default;
}

.playlist .played {
    color: #777;
}

.playlist .selected {
    background-color: #BFD9FF;
    color: #000;
}
.playlist .current {
    background-color: #80B3FF;
    color: #fff;
}
.playlist .grid td {
    white-space: nowrap;
    overflow: hidden;
}

.playlist {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.playlist .bar { 
    position: relative;
    min-height: 100px;
}

.playlist .now-playing {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 100px;
    background-repeat: no-repeat;
    background-position: right center;
    min-height: 100px;
    
}
.playlist .now-playing::before {
    content: "Now playing:";
    font-weight: bold;
}
.playlist .now-playing .title {
    display: block;
}


.playback-controls a.control {
    width: 32px;
    height: 32px;
    text-indent:-9999px;
    background-repeat: no-repeat;
    background-position: 0 0;
    display: inline-block;
}

.playback-controls .play {
    background-image: url(/static/assets/icons/player/play.png);
}
.playback-controls .pause {
    background-image: url(/static/assets/icons/player/pause.png);
}

.playback-controls .stop {
    background-image: url(/static/assets/icons/player/stop.png);
}
.playback-controls .next {
    background-image: url(/static/assets/icons/player/next.png);
}


.playlist .grid-container {
    overflow: auto;
}

.playlist .grid-container .header tbody { display: none; }
.playlist .grid-container .header table { outline: none; }
.playlist .grid-container .body thead { display: none; }
.playlist .grid-container .body { 
    overflow: auto;
}


.volume-container span {
    min-width: 4em;
    display: inline-block;
}