<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta content="">
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
    <script type='text/javascript' src='static/ext/knockout-2.1.0.js'></script>
    
    <script type='text/javascript' src='static/lib/utils.js'></script>
    
    
    <script type='text/javascript' src='static/lib/models/Model.js'></script>
    <script type='text/javascript' src='static/lib/models/ArtistModel.js'></script>
    <script type='text/javascript' src='static/lib/models/AlbumModel.js'></script>
    <script type='text/javascript' src='static/lib/models/SongModel.js'></script>
    <script type='text/javascript' src='static/lib/models/PlaylistModel.js'></script>
    <script type='text/javascript' src='static/lib/models/SpecialPlaylist.js'></script>

    
    <script type='text/javascript' src='static/lib/viewmodels/CollectionViewModel.js'></script>
    <script type='text/javascript' src='static/lib/viewmodels/PlaylistViewModel.js'></script>
    <script type='text/javascript' src='static/lib/viewmodels/ScreenViewModel.js'></script>


    <link rel='stylesheet' href='static/css/style.css'>
  </head>
  <body>
  
    <div class='app-container' data-bind="style: {height: $root.screenVM.appHeight() + 'px'}">
        <div class='collection' data-bind='template: {name: "collection"},
            style: {width: $root.screenVM.collectionPanelWidth() + "px" }
        '></div>
        <div class='playlist' data-bind='template: {name: "playlist"},
            style: {width: $root.screenVM.playlistPanelWidth() + "px" }
        '></div>
    </div>
    
    <div class='audio'>
        <audio preload="auto" class='current' id='current-audio' data-bind="attr: {src: $root.playlistVM.playlist.currentSource}"></audio>
    </div>

  </body>
</html>